@use './variables' as *;
// .filterBox{
//     min-height: 20vh;
//     background-color: black;
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     top: 5%;
//     left: 105%;
//     background-color:#f0f0f0 ;
//     border: #d3d3d3 solid 2px;
//     height: fit-content;
//     width: 10rem;
//     border-radius: 15px;
//     filter: drop-shadow(-10px 14px 14px #d3d3d3);
// }

.filterBox {
    width: 35%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: hsl(0, 0%, 83%, .5) solid 2px;
    background-color: #f0f0f0;
    box-shadow: hsl(0, 0%, 94%, .5) -10px 10px;
}

.filterBox ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filterBox li {
    display: inline;
}

// .filterBox ul{
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
// }

.tag, .clearButton{
    color: $white;
    background-color: $green;
    margin: 1rem;
    line-height: 1.25;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
}

.tag:hover, .clearButton:hover{
    background-color: $lightGreen;
}
.tagActive{
    background-color:$lightGreen;
}

@media (max-width: 1325px) {
    .filterBox {
        width: 50%;
    }
}

@media (max-width: 920px) {
    .filterBox {
        width: 70%;
    }
}

@media(max-width: 675px) {
    .filterBox{
        width: 90%;
    }
}

@media (max-width: 515px){
    .filterBox ul {
        flex-wrap: wrap;
    }
}